IP_KERNEL=0.0.0.0
PUERTO_ESCUCHA=8010
IP_MEMORIA=0.0.0.0
PUERTO_MEMORIA=8002
IP_FILESYSTEM=0.0.0.0
PUERTO_FILESYSTEM=8000
IP_CPU=0.0.0.0
PUERTO_CPU_DISPATCH=8001
PUERTO_CPU_INTERRUPT=8005
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=10000
RECURSOS=[RA,RB,RC]
INSTANCIAS_RECURSOS=[1,2,1]
GRADO_MULTIPROGRAMACION_INI=4